body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #17A2B8;
    padding: 15px 20px;
    color: white;
}

.logo {
    width: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.hero {
    position: relative;
    height: 500px;
    width: 100%;
    overflow: hidden;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('/static/images/Hero.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}

.hero-content {
    position: relative;
    z-index: 1;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 150px;
}

.hero h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.features {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.feature {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
    width: 200px;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.feature:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.feature img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #17A2B8;
    color: white;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer a {
    text-decoration: none;
    color: white;
}

.copyright {
    background-color: #000;
    text-align: center;
    color: white;
    padding: 5px;
}

@media (max-width: 768px) {
    .features {
        grid-template-columns: 1fr;
    }

    .hero h1 {
        font-size: 24px;
    }
}
