/* Général */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Conteneur pour le logo */
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

/* Section Formulaire */
.form-section {
    max-width: 400px;
    margin: 0 auto 100px auto; 
    padding: 50px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #218838;
}

.form-section p {
    text-align: center;
    margin-top: 15px;
}

.form-section a {
    color: #28a745;
    text-decoration: none;
}

.form-section a:hover {
    text-decoration: underline;
}

/* Media Queries */
@media (max-width: 600px) {
    .form-section {
        margin: 0 20px 20px 20px;
        padding: 15px;
    }

    .logo-container {
        margin: 20px 0;
    }

    .logo {
        width: 80px;
        height: 80px;
    }
}