<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SANTÉ PLUS - Alimentation Saine</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/index.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', path='images/logo.png') }}" alt="Logo" class="logo">
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="#">À propos</a></li>
                <li><a href="/signup">Inscription</a></li>
                <li><a href="/login">Connexion</a></li>
            </ul>
        </nav>
    </header>
    
    <section class="hero">
        <div class="hero-background">
            <div class="hero-content">
                <h1>Adoptez une alimentation saine avec des conseils personnalisés !</h1>
                <p>Suivez vos repas, obtenez des menus adaptés à vos besoins et améliorez votre santé.</p>
                <a href="/login" class="cta-button">Commencer maintenant</a>
            </div>
        </div>
    </section>

    <section class="features">
        <div class="feature">
            <img src="{{ url_for('static', path='images/meal.png') }}" alt="Meal">
            <h2>Menus Personnalisés</h2>
        </div>
        <div class="feature">
            <img src="{{ url_for('static', path='images/plate.png') }}" alt="Plate">
            <h2>Suivi Alimentaire</h2>
        </div>
        <div class="feature">
            <img src="{{ url_for('static', path='images/consult.png') }}" alt="Consult">
            <h2>Conseils Santé</h2>
        </div>
        <div class="feature">
            <img src="{{ url_for('static', path='images/fruits.png') }}" alt="Fruits">
            <h2>Adapté à Tous</h2>
        </div>
    </section>


    <footer>
        <div class="footer-links">
            <h3>Liens Utiles</h3>
            <ul>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">Politique de Confidentialité</a></li>
                <li><a href="#">À propos</a></li>
            </ul>
        </div>
        <div class="socials">
            <h3>Réseaux Sociaux</h3>
            <ul>
                <li><a href="#">Twitter (@santePlus)</a></li>
                <li><a href="#">Facebook (@santePlus)</a></li>
                <li><a href="#">Instagram (@santePlus)</a></li>
                <li><a href="#">LinkedIn (@santePlus)</a></li>
            </ul>
        </div>
    </footer>
    <div class="copyright">
        <small>COPYRIGHTS <strong>DEV5.1</strong>. TOUS DROITS RÉSERVÉS.</small>
    </div>
</body>
</html>
